.btn_wrap{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  .btn_logout{
    padding: 0 40px;   
    border: none;
    border-radius: 4px;
    background: #ffe84c;
    font-weight: bold;
    color: #513736;
    line-height: 3;
    cursor: pointer;
  }
}