.tab_bar{
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 8px;
  width: calc(100% - 32px);
  height: 6.4%;
  min-height: 54px;
  margin: 0 16px;
  border-radius: 16px;
  background: #f7f7f7;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.32), 0px 4px 12px 4px rgba(0, 0, 0, 0.12), -1px -1px 5px rgba(221, 224, 241, .4);
  ul{
    display: flex;
    flex: 1;
    li{
      flex: 1;
      text-align: center;
      transition: transform 500ms linear;
      a{
        i{
          display: block;
          font-size: 22px;
          color: #c0c1c2;
        }
        i.on{
          color: var(--primary);
        }
      }
    }
    li:hover{
      transform: scale(1.1);
    }
  }
}